solution/GrantsAdministrationPlatform/Workflows/ApplicationObjectiveSubjectiveScoringChecklistVali-B4ABE01D-0D38-F111-88B4-7CED8D9D38D0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Trigger_|_When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "gap_scoringchecklistquestion",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "20ba28f7-6ad0-f011-8543-7ced8d995195:MTA"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "metadata": {
            "operationMetadataId": "a12d588b-98c5-437c-9ba4-556876c27740"
          }
        }
      },
      "actions": {
        "Scope": {
          "type": "Scope",
          "actions": {
            "List_rows_from_Scoring_Checklist_Questions_Table": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_scoringchecklistquestions",
                  "$filter": "_gap_application_value eq @{triggerOutputs()?['body/_gap_application_value']} and gap_checklistquestiontype eq '@{triggerOutputs()?['body/gap_checklistquestiontype']}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "metadata": {
                "operationMetadataId": "aa817a83-af73-4347-af46-80d60eab6803"
              }
            },
            "Get_Application": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/_gap_application_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "List_rows_from_Scoring_Checklist_Questions_Table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ceb62c87-b618-4b8e-b39b-8feb36c97060"
              }
            },
            "Is_Objective_or_Subjective_Scoring": {
              "type": "If",
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@outputs('Get_Application')?['body/gap_currentstage']",
                      "Subjective Scoring"
                    ]
                  },
                  {
                    "equals": [
                      "@outputs('Get_Application')?['body/gap_currentstage']",
                      "Objective Scoring"
                    ]
                  }
                ]
              },
              "actions": {
                "Filter_array_|_Blank_Initial_Answer": {
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('List_rows_from_Scoring_Checklist_Questions_Table')?['body/value']",
                    "where": "@equals(item()?['gap_initialanswer'], null)"
                  },
                  "metadata": {
                    "operationMetadataId": "da0c8378-24f9-4570-9703-236a73220c11"
                  }
                },
                "Count_Blank_Answers": {
                  "type": "Compose",
                  "inputs": "@length(body('Filter_array_|_Blank_Initial_Answer'))",
                  "runAfter": {
                    "Filter_array_|_Blank_Initial_Answer": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "693be1fd-2b02-4b56-aa12-0fd9f39f09f5"
                  }
                },
                "Update_application_table_with_count": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "gap_applications",
                      "recordId": "@triggerOutputs()?['body/_gap_application_value']",
                      "item/gap_blankchecklistcount": "@outputs('Count_Blank_Answers')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  },
                  "runAfter": {
                    "Count_Blank_Answers": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0fa5a18a-f185-489e-9312-b137aa32e1b9"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2bcd3c2b-8d17-47bd-b7cf-961555fc2a11"
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Get_Application')?['body/gap_currentstage']",
                      "@triggerOutputs()?['body/gap_checklistquestiontype']"
                    ]
                  }
                ]
              },
              "actions": {},
              "else": {
                "actions": {
                  "Terminate_2": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "message": " Checklist Question @{triggerOutputs()?['body/gap_scoringchecklistquestionid']} is a @{triggerOutputs()?['body/gap_checklistquestiontype']} type, and is being updated within the Applications current stage: @{outputs('Get_Application')?['body/gap_currentstage']}. \n@{triggerOutputs()?['body/gap_checklistquestiontype']} Questions should only be updated within the @{triggerOutputs()?['body/gap_checklistquestiontype']} stage."
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Get_Application": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Question_Type_is_Subjective_or_Objective": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cb92e3fb-a7a4-4350-bbb1-40c3a98acb66"
          }
        },
        "Terminate_if_no_Application_Attached_to_Question": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/_gap_application_value']",
                  ""
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/_gap_application_value']",
                  "@null"
                ]
              }
            ]
          },
          "actions": {
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "message": " Checklist Question @{triggerOutputs()?['body/gap_scoringchecklistquestionid']}, has no Application Attached"
                }
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {}
        },
        "Question_Type_is_Subjective_or_Objective": {
          "type": "Switch",
          "expression": "@triggerOutputs()?['body/gap_checklistquestiontype']",
          "default": {
            "actions": {
              "Terminate_1": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "message": " Checklist Question @{triggerOutputs()?['body/gap_scoringchecklistquestionid']} has an invalid Question Type"
                  }
                }
              }
            }
          },
          "cases": {
            "Question_is_Objective_Scoring": {
              "actions": {},
              "case": "Objective Scoring"
            },
            "Question_is_Subjective_Scoring": {
              "actions": {},
              "case": "Subjective Scoring"
            }
          },
          "runAfter": {
            "Terminate_if_no_Application_Attached_to_Question": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}