solution/GrantsAdministrationPlatform/Workflows/ApplicationSubjectiveScoringDecisionV2-80AEDB95-B6CE-F011-8543-7C1E522D7494.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_14207"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Stage_Updated": {
          "metadata": {
            "operationMetadataId": "e880bd89-0979-4836-b2de-c208d2773431"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_currentstage",
              "subscriptionRequest/filterexpression": "gap_currentstage eq 'Subjective Scoring Decision' and gap_initializedstage ne 'Subjective Scoring Decision'"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_Error_Message": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d986af1-49ef-42d2-87d9-0b51ea9e49e3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error Message",
                "type": "string"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Application_Owner_Requires_Update": {
              "actions": {
                "Update_Application_Owner": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d8a62840-0f75-4675-9db6-2b17793624ca"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "gap_applications",
                      "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                      "item/ownerid@odata.bind": "systemusers(@{triggerOutputs()?['body/_gap_initialreviewer_value']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_ownerid_value']",
                    "@triggerOutputs()?['body/_gap_initialreviewer_value']"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "12e06adc-df98-4714-92e0-f7fd51f1c7fb"
              },
              "type": "If"
            },
            "Objective_Checklist_Exists": {
              "actions": {
                "Get_Checklist_Owner": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f9775169-3f77-44cf-aab4-cf5aa2b50a0a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "gap_scoringchecklists",
                      "recordId": "@triggerOutputs()?['body/_gap_objectivescoringchecklist_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Checklist_Owner_Requires_Update": {
                  "actions": {
                    "Update_Checklist_Owner": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b01006f8-b26f-4f46-827a-caf3fbf559e4"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateOnlyRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "gap_scoringchecklists",
                          "recordId": "@outputs('Get_Checklist_Owner')?['body/gap_scoringchecklistid']",
                          "item/ownerid@odata.bind": "systemusers(@{outputs('Get_Checklist_Owner')?['body/_createdby_value']})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Checklist_Owner": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Get_Checklist_Owner')?['body/_ownerid_value']",
                            "@outputs('Get_Checklist_Owner')?['body/_createdby_value']"
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6630db09-07c0-4d19-89de-92e3871b96ed"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Application_Owner_Requires_Update": [
                  "Succeeded"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_gap_objectivescoringchecklist_value']",
                    null
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "e1645e3e-a648-4919-bcf8-7637cfe9c462"
              },
              "type": "If"
            },
            "Subjective_Scoring_Required": {
              "actions": {
                "Skip_Process": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d10f6a75-6ffe-44e7-882b-17ec31b0ed20"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "gap_applications",
                      "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                      "item/gap_currentstage": "GGMS Confirmation"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Objective_Checklist_Exists": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Change_Stage": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "d10f6a75-6ffe-44e7-882b-17ec31b0ed20"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "gap_applications",
                        "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                        "item/gap_currentstage": "Subjective Scoring"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/gap_finalobjectiveoutcome']",
                      803260001
                    ]
                  },
                  {
                    "equals": [
                      "@triggerOutputs()?['body/gap_statussubjectivescoringrequired']",
                      false
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "0765203b-5c2b-414e-bb3e-4bbc502e8ff5"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_Error_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bcae19a6-7c6b-434a-bf13-097e92e83e41"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Update_Application_Stage": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c01f1ba5-098e-4639-b581-0e8ae54f71db"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                  "item/gap_currentstage": "Error (Subjective Scoring Decision)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Error_Message_Exists": {
              "actions": {
                "Add_Custom_Error_Message": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "29c7c75e-8771-40e5-8ead-c638113ddf12"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "An error occurred.",
                      "item/notetext": "@variables('Error Message')",
                      "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Update_Application_Stage": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_Standard_Error_Message": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "40c26d3b-dfdd-4144-99f3-fb35f3bc714e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "An error occurred.",
                        "item/notetext": "Flow Name: @{workflow()['name']}\nRun ID: @{workflow()['run']['name']}\nDate & Time: @{utcNow()}\nLink: @{concat('https://make.powerautomate.com/environments/', workflow()['tags']['environmentName'], '/solutions/', split(workflow()['tags']['environmentWorkflowId'], '-')[1], '/flows/', workflow()['tags']['xrmWorkflowId'])\r\n}",
                        "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('Error Message'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "d2b11315-96ad-443d-bb5d-141715160294"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Try": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "67fa743e-ddea-4f9e-ad88-a024f4e5d993"
          },
          "type": "Scope"
        },
        "Update_a_row": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "808b165b-3d1f-4d43-bc0e-3110e91e632c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "gap_applications",
              "recordId": "@triggerOutputs()?['body/gap_applicationid']",
              "item/gap_initializedstage": "Subjective Scoring Decision"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}