solution/GrantsAdministrationPlatform/Workflows/ApplicationAIScoringv2-3154AE08-753C-F011-8C4D-002248C6F33A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_14207"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "dfb69687-7973-404a-8dc5-8a0513512426"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "gap_scoringchecklistquestion",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_aiprompt"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Automation_Enabled_Check": {
          "actions": {
            "Get_a_row_by_ID_from_Scoring_Checklist_Questions": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3534b6c7-b7c6-443f-8505-b27b7c64e19e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_scoringchecklistquestions",
                  "recordId": "@triggerOutputs()?['body/gap_scoringchecklistquestionid']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Get all the scoring checklist question fields related to the current scoring checklist question alone"
            },
            "Store_Applicable_Question": {
              "runAfter": {
                "Get_a_row_by_ID_from_Scoring_Checklist_Questions": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ad2c786e-f682-4229-9e44-5beffe2a3f09"
              },
              "type": "Compose",
              "inputs": "@replace(outputs('Get_a_row_by_ID_from_Scoring_Checklist_Questions')?['body/gap_applicablequestion'], '''', '''''')"
            },
            "List_rows_from_Responses_Table": {
              "runAfter": {
                "Store_Applicable_Question": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4d8c9415-a133-458c-b340-93c5ec01f4a9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_responses",
                  "$filter": "gap_question eq '@{outputs('Store_Applicable_Question')}' and _gap_application_value eq @{triggerOutputs()?['body/_gap_application_value']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Store_Output_from_list_rows_action": {
              "runAfter": {
                "List_rows_from_Responses_Table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7af15ba7-cf4d-4a08-a766-8f1170e11661"
              },
              "type": "Compose",
              "inputs": "@outputs('List_rows_from_Responses_Table')?['body/value']"
            },
            "Check_that_output_is_not_null": {
              "actions": {
                "Scope": {
                  "actions": {
                    "AI_Enhanced_Scoring_|_Run_a_prompt": {
                      "runAfter": {},
                      "metadata": {
                        "flowSystemMetadata": {
                          "portalOperationId": "aibuilderpredict_customprompt",
                          "portalOperationGroup": "aibuilder",
                          "portalOperationApiDisplayNameOverride": "AI Builder",
                          "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                          "portalOperationBrandColorOverride": "#0A76C4",
                          "portalOperationApiTierOverride": "Standard"
                        },
                        "operationMetadataId": "07e1106e-acdc-44d3-afaf-a2a1fc039fc6"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "aibuilderpredict_customprompt",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "recordId": "19818f02-5d19-4d7f-9936-9c8e37b3b4d4",
                          "item/requestv2/Application_20Question": "@outputs('Get_a_row_by_ID_from_Scoring_Checklist_Questions')?['body/gap_applicablequestion']",
                          "item/requestv2/Applicant_20Response": "@outputs('List_rows_from_Responses_Table')?['body/value']?[0]?['gap_answer']",
                          "item/requestv2/AI_20Prompt": "@outputs('Get_a_row_by_ID_from_Scoring_Checklist_Questions')?['body/gap_aiprompt']",
                          "item/source": {
                            "consumptionSource": "PowerAutomate",
                            "partnerSource": "AIBuilder",
                            "consumptionSourceVersion": "Flow",
                            "partnerSourceVersion": "1e5a7113-0473-173d-5978-aa74a7b3c6f6",
                            "displayName": "Application | AI Scoring v2"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      },
                      "description": "Run Prompt stored on the Scoring Template on a Scheme Level"
                    },
                    "Prediction_Output": {
                      "runAfter": {
                        "AI_Enhanced_Scoring_|_Run_a_prompt": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3c3ad32f-ec84-445d-b6bb-1e3c9200224e"
                      },
                      "type": "Compose",
                      "inputs": "@outputs('AI_Enhanced_Scoring_|_Run_a_prompt')?['body/responsev2/predictionOutput/text']",
                      "description": "Store Prediction Outcome"
                    },
                    "Is_Review_Required": {
                      "actions": {
                        "Update_Answer_with_AI_Response": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "8a7dd20a-0d0b-4991-a1f6-a5798c71264b"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateOnlyRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "gap_scoringchecklistquestions",
                              "recordId": "@triggerOutputs()?['body/gap_scoringchecklistquestionid']",
                              "item/gap_initialanswer": "\"AI Suggested Answer: @{outputs('AI_Enhanced_Scoring_|_Run_a_prompt')?['body/responsev2/predictionOutput/text']}\""
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Prediction_Output": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Update_Answer_with_Review_Required_Tag": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "6531695f-0ed1-4f64-a61e-076c42766253"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "UpdateOnlyRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "gap_scoringchecklistquestions",
                                "recordId": "@triggerOutputs()?['body/gap_scoringchecklistquestionid']",
                                "item/gap_initialanswer": "\"AI Suggested Answer: @{outputs('AI_Enhanced_Scoring_|_Run_a_prompt')?['body/responsev2/predictionOutput/text']}\"",
                                "item/gap_reviewrequired": true
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "",
                                "Review Required"
                              ]
                            }
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "06ab0aab-bc3d-468e-add0-4e39611bb5e1"
                      },
                      "type": "If",
                      "description": "Check that prediction outcome is not equal to Review Required"
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ed751214-895b-4fa1-8204-44c532d6fc63"
                  },
                  "type": "Scope"
                }
              },
              "runAfter": {
                "Store_Output_from_list_rows_action": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Negative_Path_|_Update_Scoring_Checklist_Answer": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "8f016f1c-c94b-4f64-b19b-449c871f0ef0"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "gap_scoringchecklistquestions",
                        "recordId": "@triggerOutputs()?['body/gap_scoringchecklistquestionid']",
                        "item/gap_initialanswer": "Manual Review Required - Applicable Question on Scoring Template not found in application responses",
                        "item/gap_reviewrequired": true
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@length(outputs('Store_Output_from_list_rows_action'))",
                    0
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "2019068b-22be-445c-900a-db294b865a71"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/gap_automationenabled']",
                  "@true"
                ]
              },
              {
                "and": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/gap_answer']",
                      "@null"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerOutputs()?['body/gap_reviewrequired']",
                      "@false"
                    ]
                  }
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "5b746afa-73dc-4a82-b132-8fa00ea71774"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}