solution/GrantsAdministrationPlatform/Workflows/ApplicationDepartmentConfirmationV2-54C3F0D3-B9CE-F011-8543-0022483FAF54.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_14207"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Stage_Updated": {
          "metadata": {
            "operationMetadataId": "7d3f4745-3a29-47e8-924c-bd8ec01bf8bb"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_currentstage",
              "subscriptionRequest/filterexpression": "gap_currentstage eq 'Department Confirmation' and gap_initializedstage ne 'Department Confirmation'",
              "subscriptionRequest/name": "093d6e42-fd89-f011-b4cb-7ced8d6b4176:MTA"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {},
          "runAfter": {
            "Initialize_Error_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8719f430-2082-4121-a44e-cddab0cad2aa"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Update_Application_Stage": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c01f1ba5-098e-4639-b581-0e8ae54f71db"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord"
                },
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                  "item/gap_currentstage": "Error (Department Confirmation)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Error_Message_Exists": {
              "actions": {
                "Add_Custom_Error_Message": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c76bc398-f213-4e81-acc4-59791fd16d5d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord"
                    },
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "An error occurred.",
                      "item/notetext": "@variables('Error Message')",
                      "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Update_Application_Stage": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_Standard_Error_Message": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "90bd4d26-1726-4575-b1ba-b09f64e66df7"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord"
                      },
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "An error occurred.",
                        "item/notetext": "Flow Name: @{workflow()['name']}\nRun ID: @{workflow()['run']['name']}\nDate & Time: @{utcNow()}\nLink: @{concat('https://make.powerautomate.com/environments/', workflow()['tags']['environmentName'], '/solutions/', split(workflow()['tags']['environmentWorkflowId'], '-')[1], '/flows/', workflow()['tags']['xrmWorkflowId'])\r\n}",
                        "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('Error Message'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "6ae4dde1-4d6a-4268-8150-208f150398d8"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Try": [
              "Skipped",
              "TimedOut",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ac34324-2c49-4143-b42c-5b2454743b62"
          },
          "type": "Scope"
        },
        "Initialize_Error_Message": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "13788d85-882e-4f6a-8963-771b3d63490a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error Message",
                "type": "string"
              }
            ]
          }
        },
        "Update_a_row": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b48b3459-fbf3-42c1-b997-9d1fb79b94ef"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord"
            },
            "parameters": {
              "entityName": "gap_applications",
              "recordId": "@triggerOutputs()?['body/gap_applicationid']",
              "item/gap_initializedstage": "Department Confirmation"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}