solution/GrantsAdministrationPlatform/Workflows/ApplicationOutcomeLetterQualityReviewV2-9811C1F3-B0CE-F011-8543-7C1E522D7494.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_14207"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Stage_Updated": {
          "metadata": {
            "operationMetadataId": "b7aa860c-6288-4e52-b94c-f99a4b5f22d6"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_currentstage",
              "subscriptionRequest/filterexpression": "gap_currentstage eq 'Outcome Letter Quality Review' and gap_initializedstage ne 'Outcome Letter Quality Review'",
              "subscriptionRequest/name": "8188cca3-ab8c-f011-b4cb-0022483ff24b:MTA"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_Review_Array": {
          "runAfter": {
            "Initialize_Error_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25886939-3448-45f2-92cf-d79ac986eeb8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Review Array",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_Error_Message": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "629d0eaa-0b3c-48d2-a35f-9f6a99651c4e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error Message",
                "type": "string"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Condition_|_Quality_Reviewer_Selection_Required": {
              "actions": {
                "Dataverse_|_List_Users": {
                  "runAfter": {
                    "Dataverse_|_Get_Scheme": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "acdfef6d-6397-439c-a4d1-7f75b9e90284"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords"
                    },
                    "parameters": {
                      "entityName": "teammemberships",
                      "$filter": "teamid eq @{outputs('Dataverse_|_Get_Scheme')?['body/_gap_qualitycontrollers_value']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_|_Minimum_Quantity": {
                  "actions": {
                    "Loop_|_Per_Reviewer": {
                      "foreach": "@outputs('Dataverse_|_List_Users')?['body/value']",
                      "actions": {
                        "Variable_|_Update_Array": {
                          "runAfter": {
                            "Dataverse_|_Get_User": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "4083e922-2a02-4e22-9828-8aac7130822e"
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "Review Array",
                            "value": {
                              "Reviewer": "@{items('Loop_|_Per_Reviewer')?['systemuserid']}",
                              "Name": "@{outputs('Dataverse_|_Get_User')?['body/fullname']}",
                              "Number of Reviews": "@add(length(outputs('Dataverse_|_List_Applications')?['body/value']), length(outputs('Dataverse_|_List_Peer_Reviews')?['body/value']))"
                            }
                          }
                        },
                        "Dataverse_|_List_Applications": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "a861be80-4957-4a60-b3c3-7ee3518a04fe"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "entityName": "gap_applications",
                              "$filter": "_gap_scheme_value eq @{triggerBody()?['_gap_scheme_value']} and _ownerid_value eq @{items('Loop_|_Per_Reviewer')?['systemuserid']}"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Dataverse_|_Get_User": {
                          "runAfter": {
                            "Dataverse_|_List_Peer_Reviews": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "57e31f12-0111-41d3-a9a5-d29f52e0d0a2"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem"
                            },
                            "parameters": {
                              "entityName": "systemusers",
                              "recordId": "@items('Loop_|_Per_Reviewer')?['systemuserid']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Dataverse_|_List_Peer_Reviews": {
                          "runAfter": {
                            "Dataverse_|_List_Applications": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a861be80-4957-4a60-b3c3-7ee3518a04fe"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords"
                            },
                            "parameters": {
                              "entityName": "gap_reviews",
                              "$filter": "_gap_scheme_value eq @{triggerBody()?['_gap_scheme_value']} and _ownerid_value eq @{items('Loop_|_Per_Reviewer')?['systemuserid']}"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "c33de96c-3527-4ae0-8d64-a3f4ae2c40b7"
                      },
                      "type": "Foreach"
                    },
                    "Data_|_Sort_Users": {
                      "runAfter": {
                        "Loop_|_Per_Reviewer": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8233d1e9-eea8-487d-ac68-6a97e878bdf8"
                      },
                      "type": "Compose",
                      "inputs": "@sort(variables('Review Array'), 'Number of Reviews')"
                    },
                    "Data_|_Get_User": {
                      "runAfter": {
                        "Data_|_Sort_Users": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ebc2e0fa-dc9e-4e6f-831f-7a14f30ddc74"
                      },
                      "type": "Compose",
                      "inputs": "@first(outputs('Data_|_Sort_Users'))?['Reviewer']"
                    },
                    "Dataverse_|_Update_Application": {
                      "runAfter": {
                        "Data_|_Get_User": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c7bae68a-e625-49c6-a8af-2aac7377d945"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "gap_applications",
                          "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                          "item/gap_OutcomeFinalReviewer@odata.bind": "systemusers(@{outputs('Data_|_Get_User')})",
                          "item/ownerid@odata.bind": "systemusers(@{outputs('Data_|_Get_User')})"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Dataverse_|_List_Users": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Update_Error_Message": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "85a1beed-bd61-42cc-991b-fb906d94c93e"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Error Message",
                          "value": "There were an insufficient number of quality controllers in the team."
                        }
                      },
                      "Trigger_Error": {
                        "runAfter": {
                          "Update_Error_Message": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "66f7e1f2-db59-42f9-8fb5-f69cd06a4d5e"
                        },
                        "type": "Compose",
                        "inputs": "@div(1, 0)"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greaterOrEquals": [
                          "@length(outputs('Dataverse_|_List_Users')?['body/value'])",
                          1
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "eea57faa-4ec7-438c-bd59-7657d61f6ed4"
                  },
                  "type": "If"
                },
                "Dataverse_|_Get_Scheme": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5975dae3-b6a9-494e-a34d-b3f8bb04cf05"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "entityName": "gap_schemes",
                      "recordId": "@triggerOutputs()?['body/_gap_scheme_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/_gap_outcomefinalreviewer_value']",
                      "@null"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "65f3f6c4-c211-42f5-8b59-44797eacf42e"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_Review_Array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "39109999-1aa9-48f1-934d-dfb0557a383d"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Update_Application_Stage": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c01f1ba5-098e-4639-b581-0e8ae54f71db"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord"
                },
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                  "item/gap_currentstage": "Error (Outcome Letter Quality Review)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Error_Message_Exists": {
              "actions": {
                "Add_Custom_Error_Message": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "73cbead1-3672-44f0-9b83-788617881d34"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord"
                    },
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "An error occurred.",
                      "item/notetext": "@variables('Error Message')",
                      "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Update_Application_Stage": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_Standard_Error_Message": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1eb0afc6-9695-4296-8083-a08e096cdd7f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord"
                      },
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "An error occurred.",
                        "item/notetext": "Flow Name: @{workflow()['name']}\nRun ID: @{workflow()['run']['name']}\nDate & Time: @{utcNow()}\nLink: @{concat('https://make.powerautomate.com/environments/', workflow()['tags']['environmentName'], '/solutions/', split(workflow()['tags']['environmentWorkflowId'], '-')[1], '/flows/', workflow()['tags']['xrmWorkflowId'])\r\n}",
                        "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('Error Message'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "102b7ba9-f48b-4225-bb09-c814e619ff35"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Try": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "53d85574-536d-4317-b206-c42769392909"
          },
          "type": "Scope"
        },
        "Update_a_row": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "87b4bb9b-b009-44fa-88bd-d941ca0e863a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord"
            },
            "parameters": {
              "entityName": "gap_applications",
              "recordId": "@triggerOutputs()?['body/gap_applicationid']",
              "item/gap_initializedstage": "Outcome Letter Quality Review"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}