solution/GrantsAdministrationPlatform/Workflows/ApplicationReassignOwnerRefreshOptionsv2-F59296CE-2778-F011-B4CB-002248433196.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "191772b7-8ad6-41d6-9b32-4dce0e13f8c3"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "foundApplication",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Team_Members": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c4b43ee5-b5ee-443b-8526-90fea088c453"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "1085c650-c272-f011-b4cc-0022483ff195"
            },
            "body": {
              "text": "@outputs('Get_a_row_by_ID')?['body/_gap_scheme_value']"
            }
          }
        },
        "Remove_New_Owner": {
          "runAfter": {
            "Get_Team_Members": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "675f3779-977d-4fb1-b116-0d3d90ac6d88"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "d251da56-97dc-ee11-904d-6045bdf1ea43"
            },
            "body": {
              "text": "@body('Get_Team_Members')?['users']",
              "text_1": "@outputs('Get_a_row_by_ID')?['body/_ownerid_value']"
            }
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Remove_New_Owner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3c20545c-6166-4e7f-a47c-ea7fb480f603"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "gap_applications",
              "recordId": "@triggerBody()['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "40da7f7d-a8c8-40db-ab03-b8dba030552d"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "refreshedownersarray": "@outputs('Update_a_row')?['body/gap_owneroptionsarray']"
            },
            "schema": {
              "type": "object",
              "properties": {
                "refreshedownersarray": {
                  "title": "refreshedOwnersArray",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_a_row_by_ID": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "185d48b1-66b8-46ba-81a9-03d8cc172a48"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "gap_applications",
              "recordId": "@triggerBody()['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "683200fe-ed07-4be3-ada7-0c92d8d3eba5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "refresedOwnerArray",
                "type": "array"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}