solution/GrantsAdministrationPlatform/Workflows/ApplicationWithdrawnApplicationDeactivateProcesses-ABA5FC70-7C6C-F011-B4CB-002248433196.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Dataverse_|_Trigger": {
          "metadata": {
            "operationMetadataId": "26440130-46b8-4ebd-b52e-91f2be6ee287"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_withdrawapplication",
              "subscriptionRequest/filterexpression": "gap_withdrawapplication ne null"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Scope": {
          "actions": {
            "Get_Assessment_Process": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6d033e50-e5f3-46a7-b81f-0c89d2ee1166"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_assessmentprocesses",
                  "$filter": "_bpf_gap_applicationid_value eq @{triggerOutputs()?['body/gap_applicationid']} and statecode eq 0",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition": {
              "actions": {
                "Apply_to_each": {
                  "foreach": "@outputs('Get_Assessment_Process')?['body/value']",
                  "actions": {
                    "Deactivate_Assessment_Process": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "014ce74a-1e7f-4a55-b571-90388152f7fc"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateOnlyRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "gap_assessmentprocesses",
                          "recordId": "@items('Apply_to_each')?['businessprocessflowinstanceid']",
                          "item/statecode": 1,
                          "item/statuscode": 3
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6028e5c3-492b-4305-b5c3-7ce7fa66af39"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_Assessment_Process": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@length(outputs('Get_Assessment_Process')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "71dee620-dab7-4644-9bb4-73d28630213e"
              },
              "type": "If"
            },
            "Get_Outcome_Process": {
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f6bc92e7-cae8-4d2f-84fe-c3fa864f3dbe"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_outcomeprocesses",
                  "$filter": "_bpf_gap_applicationid_value eq @{triggerOutputs()?['body/gap_applicationid']} and statecode eq 0",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_2": {
              "actions": {
                "Apply_to_each_2": {
                  "foreach": "@outputs('Get_Outcome_Process')?['body/value']",
                  "actions": {
                    "Deactivate_Outcome_Process": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "6cc31e0f-e735-4f82-9cae-4b670045f16a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateOnlyRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "gap_outcomeprocesses",
                          "recordId": "@items('Apply_to_each_2')?['businessprocessflowinstanceid']",
                          "item/statecode": 1,
                          "item/statuscode": 3
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "8b46ac65-c17a-4686-a1d5-e443b9d073ab"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_Outcome_Process": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@length(outputs('Get_Outcome_Process')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "8b4bc570-a5a3-45dc-8b82-9b220d09b3cc"
              },
              "type": "If"
            },
            "Get_Award_Process": {
              "runAfter": {
                "Condition_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a7e77621-cf7a-4abf-87dd-1bb30b9a3eb8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_awardprocesses",
                  "$filter": "_bpf_gap_applicationid_value eq @{triggerOutputs()?['body/gap_applicationid']} and statecode eq 0",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_3": {
              "actions": {
                "Apply_to_each_3": {
                  "foreach": "@outputs('Get_Award_Process')?['body/value']",
                  "actions": {
                    "Deactivate_Award_Process": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "761fcda4-0552-49e2-973b-76b2a2e005b4"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateOnlyRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "gap_awardprocesses",
                          "recordId": "@items('Apply_to_each_3')?['businessprocessflowinstanceid']",
                          "item/statecode": 1,
                          "item/statuscode": 3
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "02d2bb86-ccf0-470c-a270-1994849d702f"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_Award_Process": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@length(outputs('Get_Award_Process')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "bb7853cb-f38c-4528-a9f3-1077c88e0866"
              },
              "type": "If"
            },
            "Update_a_row": {
              "runAfter": {
                "Condition_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e7675eb5-a40b-4625-b958-146f131759ec"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                  "item/gap_stage": 803260031,
                  "item/gap_currentstage": "Withdrawn",
                  "item/statecode": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7958de0c-71ab-4ed6-9cdd-6963e339d7f7"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}