solution/GrantsAdministrationPlatform/Workflows/DeleteTeams-B4578C43-7BC6-EE11-9079-002248004DBC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Dataverse_|_Trigger": {
          "metadata": {
            "operationMetadataId": "f35aa659-a364-4525-9a40-f5f19de35959"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-2",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 2,
              "subscriptionRequest/entityname": "gap_scheme",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": []
        }
      },
      "actions": {
        "Scope_|_Core_Process": {
          "actions": {
            "Dataverse_|_Get_Teams": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f9b8c7f8-a80b-4d43-9c20-6c8fa8487a94"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teams",
                  "$filter": "gap_flag eq true"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Iterate_|_Per_Team": {
              "foreach": "@outputs('Dataverse_|_Get_Teams')?['body/value']",
              "actions": {
                "Dataverse_|_Get_Schemes": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "22b3dd6a-51ca-4275-bf9b-3bcd450bf57e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps-2",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "gap_schemes",
                      "$filter": "_ownerid_value eq @{items('Iterate_|_Per_Team')?['teamid']} or _gap_reviewers_value eq @{items('Iterate_|_Per_Team')?['teamid']} or _gap_qualitycontrollers_value eq @{items('Iterate_|_Per_Team')?['teamid']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_|_Assigned": {
                  "actions": {
                    "Dataverse_|_Delete_Team": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "f3f82dca-8080-447f-b830-d1d7e036e446"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps-2",
                          "operationId": "DeleteRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "teams",
                          "recordId": "@items('Iterate_|_Per_Team')?['teamid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@length(outputs('Dataverse_|_Get_Schemes')?['body/value'])",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8d2464a5-73e1-4002-a007-772957336016"
                  },
                  "type": "If"
                },
                "Compose": {
                  "runAfter": {
                    "Dataverse_|_Get_Schemes": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f616f5c8-6481-41fa-ad34-c825c505900d"
                  },
                  "type": "Compose",
                  "inputs": "@items('Iterate_|_Per_Team')?['name']"
                }
              },
              "runAfter": {
                "Dataverse_|_Get_Teams": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "aba1d7ad-9361-4c77-bd73-c173277392d4"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5aacf2ca-d189-4ccd-8429-4d7974c5a400"
          },
          "type": "Scope"
        },
        "Scope_|_Error_Handling": {
          "actions": {
            "Flow_|_Create_Log": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8ef75944-a9c9-4a59-ab68-90575be68d59"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "1b684e2c-81d1-ee11-9079-0022480043c2"
                },
                "body": {
                  "text": "Error",
                  "text_1": "An error occurred when deleting teams.",
                  "text_3": "Other",
                  "text_2": "@{workflow()}"
                }
              }
            }
          },
          "runAfter": {
            "Scope_|_Core_Process": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "e505174f-1906-43e5-981b-a730a85bb18e"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}