solution/GrantsAdministrationPlatform/Workflows/DocumentGeneratefromTemplate-FC066673-9F64-F111-AB0D-7CED8D9D38D0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_14207"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "655e280c-1f0d-4fc9-8d79-2e48de784fb3"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_application",
              "subscriptionRequest/scope": 2,
              "subscriptionRequest/filteringattributes": "gap_generatedocumenton",
              "subscriptionRequest/filterexpression": "gap_generatedocumenton ne null",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Get_a_row_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5bfe8f48-acc6-477a-a780-53e281a745ea"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/gap_applicationid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Scheme": {
              "runAfter": {
                "Get_a_row_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9bef5193-1aa4-4a1f-ad8c-588d2c809674"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_schemes",
                  "recordId": "@triggerOutputs()?['body/_gap_scheme_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e9df9055-2c52-4559-97d8-fdfa0e41083b"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {},
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "3fe898e0-519f-441b-a230-0061571f79bd"
          },
          "type": "Scope"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b0fa5ebe-55c5-433b-b062-cd2fdd1fb2f1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varApplicationId",
                "type": "string",
                "value": "@triggerOutputs()?['body/gap_id']"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}