solution/GrantsAdministrationPlatform/Workflows/GeneratePaymentsFile-5DC07ED3-C5B0-F011-BBD3-7CED8D38C68C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "9cf8b6e9-54fd-437b-b4fb-29663f4e26a0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_scheme",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_startpaymentfilegeneration",
              "subscriptionRequest/filterexpression": "gap_startpaymentfilegeneration ne null",
              "subscriptionRequest/name": "5dc07ed3-c5b0-f011-bbd3-7ced8d38c68c:MTA"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Filter_application": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "98b6ae2c-b1c5-47d3-ae44-571c7b80c0c5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "entityName": "gap_applications",
              "$filter": "gap_Scheme/gap_title eq '@{triggerOutputs()?['body/gap_title']}' and gap_currentstage eq 'Monitoring'",
              "$expand": "gap_Scheme($select=gap_title)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_2": {
          "foreach": "@outputs('Filter_application')?['body/value']",
          "actions": {
            "Monitoring_Activity": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1b7806d4-3e7a-4824-af52-f91174e18c65"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "entityName": "gap_monitoringactivities",
                  "$filter": "_gap_application_value eq @{items('Apply_to_each_2')?['gap_applicationid']} and gap_currentstage eq 'Payment Confirmation'  and gap_paymentstatus eq 899930000"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_5": {
              "foreach": "@outputs('Monitoring_Activity')?['body/value']",
              "actions": {
                "Get_Application_from_Monitoring_Activity": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6d6dad3a-294b-46ec-8856-cfd1d8e7476c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "entityName": "gap_applications",
                      "recordId": "@items('Apply_to_each_5')?['_gap_application_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Banking_Details": {
                  "runAfter": {
                    "Get_Application_from_Monitoring_Activity": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7346d944-3d85-4454-b3af-6f15db7fcc93"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem"
                    },
                    "parameters": {
                      "entityName": "gap_bankingdetailses",
                      "recordId": "@outputs('Get_Application_from_Monitoring_Activity')?['body/_gap_bankingdetails_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Compose_2": {
                  "runAfter": {
                    "Get_Banking_Details": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4bb8f3ee-0fbf-42c5-a6d5-7d1ff2629771"
                  },
                  "type": "Compose",
                  "inputs": {
                    "GAPID": "@{outputs('Get_Application_from_Monitoring_Activity')?['body/gap_gapid']}",
                    "ApplicantName": "@{outputs('Get_Banking_Details')?['body/gap_accountname']}",
                    "SortCode": "@{outputs('Get_Banking_Details')?['body/gap_banksortcode']}",
                    "AccountNumber": "@{outputs('Get_Banking_Details')?['body/gap_accountnumber']}",
                    "BankName": "@{outputs('Get_Banking_Details')?['body/gap_bankorbuildingsocietyname']}",
                    "PaymentAmount": "@{items('Apply_to_each_5')?['gap_paymentamount']}",
                    "PaymentDate": "@{items('Apply_to_each_5')?['gap_paymentdate']}"
                  }
                },
                "Append_to_array_variable_2": {
                  "runAfter": {
                    "Compose_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d15034bb-b540-4a6c-9d2d-0b1dd1c049c6"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "Rows",
                    "value": "@outputs('Compose_2')"
                  }
                },
                "Update_a_row": {
                  "runAfter": {
                    "Append_to_array_variable_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1fbefdd2-94b2-48b3-849b-6069433abb3f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord"
                    },
                    "parameters": {
                      "entityName": "gap_monitoringactivities",
                      "recordId": "@items('Apply_to_each_5')?['gap_monitoringactivityid']",
                      "item/gap_paymentstatus": 899930001
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Monitoring_Activity": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b5a022c-7d3e-47f3-94dd-aabc4ac94fbd"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Filter_application": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bf0ec300-a9ff-4667-864a-5600b5ff76ef"
          },
          "type": "Foreach"
        },
        "Create_CSV_table": {
          "runAfter": {
            "Apply_to_each_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f6e7bfee-12b5-497a-a990-679856ffe1d3"
          },
          "type": "Table",
          "inputs": {
            "from": "@variables('Rows')",
            "format": "CSV",
            "columns": [
              {
                "header": "GAPID",
                "value": "@item()?['GAPID']"
              },
              {
                "header": "AccountName",
                "value": "@item()?['ApplicantName']"
              },
              {
                "header": "SortCode",
                "value": "\"@{item()?['SortCode']}\""
              },
              {
                "header": "AccountNumber",
                "value": "@item()?['AccountNumber']"
              },
              {
                "header": "BankName",
                "value": "@item()?['BankName']"
              },
              {
                "header": "PaymentAmount",
                "value": "@item()?['PaymentAmount']"
              },
              {
                "header": "PaymentDate",
                "value": "@item()?['PaymentDate']"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "848eac6e-e5e0-41cd-9deb-0876eff26046"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Rows",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "List_rows": {
          "runAfter": {
            "Create_CSV_table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c1915971-2e70-4bf4-aeb0-2aa128e2419e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "entityName": "gap_schemes",
              "$filter": "gap_title eq '@{triggerOutputs()?['body/gap_title']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_4": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "aa86b27b-0e01-4378-b64b-047019ba8430"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "gap_documents",
                  "item/gap_title": "Payment Details @{utcNow()}",
                  "item/cr982_Scheme@odata.bind": "gap_schemes(@{items('Apply_to_each_4')?['gap_schemeid']})",
                  "item/utcconversiontimezonecode": 0
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Upload_a_file_or_an_image": {
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "21523b74-a137-42f2-a5a1-9eab514208c0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateEntityFileImageFieldContent"
                },
                "parameters": {
                  "entityName": "gap_documents",
                  "recordId": "@outputs('Add_a_new_row')?['body/gap_documentid']",
                  "fileImageFieldName": "gap_documentupload",
                  "item": "@outputs('Create_CSV_table')?['body']",
                  "x-ms-file-name": "@concat('Payment Details', triggerOutputs()?['body']?['Scheme Name'], '_', formatDateTime(utcNow(), 'yyyyMMdd'), '.csv')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6888021d-4161-4358-9ba0-e1044c040a1e"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}