solution/GrantsAdministrationPlatform/Workflows/GoogleDriveScheduledDriveSync-75540682-24C0-EE11-9079-002248004B54.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2024-01-31T00:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "7b3da57c-1042-4b0b-8888-7dbb6cac418b"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Scope_|_Core_Process": {
          "actions": {
            "List_Schemes": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d2b2cd98-0690-41c0-b5ab-4389b8e4d215"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_schemes",
                  "$filter": "statecode eq 1"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_Schemes": {
              "foreach": "@outputs('List_Schemes')?['body/value']",
              "actions": {
                "Update_Scheme": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "bea1f434-0db6-4253-98f0-21312406932d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "gap_schemes",
                      "recordId": "@items('Loop_Schemes')?['gap_schemeid']",
                      "item/gap_documentslastsync": "@{utcNow()}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_Schemes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a4c628c5-87e2-46e0-af76-521b5cce6f9e"
              },
              "type": "Foreach"
            },
            "List_Applications": {
              "runAfter": {
                "Loop_Schemes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d2b2cd98-0690-41c0-b5ab-4389b8e4d215"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "gap_applications",
                  "$filter": "statecode eq 1"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_Applications": {
              "foreach": "@outputs('List_Applications')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "bea1f434-0db6-4253-98f0-21312406932d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "gap_applications",
                      "recordId": "@items('Loop_Applications')?['gap_applicationid']",
                      "item/gap_documentslastsync": "@{utcNow()}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_Applications": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "877d80e4-5534-4835-8be0-67632ce9c9ae"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3280a7b1-1d11-432a-a7b2-0592a1c053d6"
          },
          "type": "Scope"
        },
        "Scope_|_Error_Handling": {
          "actions": {
            "Create_Log": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a47a97ac-a08d-49c8-9fd4-0de7c7f2d2e4"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "1b684e2c-81d1-ee11-9079-0022480043c2"
                },
                "body": {
                  "text": "Error",
                  "text_1": "An error occurred when syncing drives.",
                  "text_3": "Other",
                  "text_2": "@{workflow()}"
                }
              }
            }
          },
          "runAfter": {
            "Scope_|_Core_Process": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "826a54f5-13a8-488c-9eb0-16c71d2cbca9"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}