solution/GrantsAdministrationPlatform/Workflows/MilestonePopulateDates-E15D6FDC-6BCA-EE11-9079-002248004B54.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Dataverse_|_Trigger": {
          "metadata": {
            "operationMetadataId": "43de2400-48a1-4dbf-983a-82df278d5eda"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-2",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_scheme",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_stage",
              "subscriptionRequest/filterexpression": "gap_stage eq 803260000"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Scope_|_Core_Process": {
          "actions": {
            "Template_Populated": {
              "actions": {
                "Dataverse_|_Update_Scheme_copy": {
                  "runAfter": {
                    "Get_Template": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1e61cfb5-c967-4f2e-a49b-9114862e6a41"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps-2",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "gap_schemes",
                      "recordId": "@triggerOutputs()?['body/gap_schemeid']",
                      "item/gap_forecastassessment": "@addDays(triggerOutputs()?['body/gap_applicationclosingdate'],body('Get_Template')?['gap_assessmentmilestone'])",
                      "item/gap_forecastawaitinglaunch": "@triggerOutputs()?['body/gap_applicationopeningdate']",
                      "item/gap_forecastmobilisation": "@addDays(addDays(utcNow(),body('Get_Template')?['gap_premobilisationmilestone']),body('Get_Template')?['gap_mobilisationmilestone'])",
                      "item/gap_forecastmonitoring": "@triggerOutputs()?['body/gap_applicationclosingdate']",
                      "item/gap_forecastpremobilisation": "@addDays(utcNow(),body('Get_Template')?['gap_premobilisationmilestone'])"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Template": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "56aa90b0-fdda-4d42-821a-c220744dd260"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps-2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "gap_schemetemplates",
                      "recordId": "@triggerBody()?['_gap_schemetemplate_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Dataverse_|_Update_Scheme": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1e61cfb5-c967-4f2e-a49b-9114862e6a41"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps-2",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "gap_schemes",
                        "recordId": "@triggerOutputs()?['body/gap_schemeid']",
                        "item/gap_forecastassessment": "@addDays(triggerOutputs()?['body/gap_applicationclosingdate'],7)",
                        "item/gap_forecastawaitinglaunch": "@triggerOutputs()?['body/gap_applicationopeningdate']",
                        "item/gap_forecastmobilisation": "@addDays(utcNow(),7)",
                        "item/gap_forecastmonitoring": "@triggerOutputs()?['body/gap_applicationclosingdate']",
                        "item/gap_forecastpremobilisation": "@addDays(utcNow(),7)"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(triggerBody()?['_gap_schemetemplate_value'])",
                      false
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "bf8d8d4b-2307-4ab0-9a34-724957b3b2a3"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6bf3ec90-f74c-4de0-82b8-1c781b9aaf8f"
          },
          "type": "Scope"
        },
        "Scope_|_Error_Handling": {
          "actions": {
            "Flow_|_Create_Log": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8794fee2-684c-4ece-be5d-dac7fc7de40e"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "1b684e2c-81d1-ee11-9079-0022480043c2"
                },
                "body": {
                  "text": "Error",
                  "text_1": "An error occurred when forecasting the scheme's milestone dates.",
                  "text_3": "Scheme",
                  "text_2": "@{workflow()}",
                  "text_4": "@triggerBody()?['gap_schemeid']"
                }
              }
            }
          },
          "runAfter": {
            "Scope_|_Core_Process": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "5e1bf403-c14e-486d-a11c-4e9c260184a4"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}