solution/GrantsAdministrationPlatform/Workflows/SAMApplicationObjectiveScoringQualityReviewSelecti-306A3FB0-EB89-F011-B4CC-7CED8D3AD3EA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_14207"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Stage_Updated": {
          "metadata": {
            "operationMetadataId": "10fd4dda-a93d-4370-8ee5-e17761068305"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_currentstage",
              "subscriptionRequest/filterexpression": "gap_currentstage eq 'Objective Scoring Quality Review Selection' and gap_initializedstage ne 'Objective Scoring Quality Review Selection'",
              "subscriptionRequest/name": "306a3fb0-eb89-f011-b4cc-7ced8d3ad3ea:MTA"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Get_Scheme": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1d63d954-a6c2-439d-be99-5175f59fca2d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_schemes",
                  "recordId": "@triggerOutputs()?['body/_gap_scheme_value']"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Objective_Checklist_Exists": {
              "actions": {
                "Get_Owner": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1e8089f8-74d9-4835-b354-48c86094fbe6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "gap_scoringchecklists",
                      "recordId": "@triggerOutputs()?['body/_gap_objectivescoringchecklist_value']"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_Owner": {
                  "runAfter": {
                    "Get_Owner": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "23a56974-fd34-4988-82b4-2b00ca2955ba"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "gap_scoringchecklists",
                      "recordId": "@outputs('Get_Owner')?['body/gap_scoringchecklistid']",
                      "item/ownerid@odata.bind": "systemusers(@{outputs('Get_Owner')?['body/_createdby_value']})"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Scheme": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerOutputs()?['body/_gap_objectivescoringchecklist_value']",
                        null
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "d83eb2b1-8ac9-4124-a287-99a335429d60"
              },
              "type": "If"
            },
            "Generate_Threshold": {
              "runAfter": {
                "Objective_Checklist_Exists": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "05bf10a4-ac97-404b-8135-676bb401dcd2"
              },
              "type": "Compose",
              "inputs": "@coalesce(outputs('Get_Scheme')?['body/gap_objectivescoringqualityreviewriskthreshold'], 100)"
            },
            "Threshold_Met": {
              "actions": {
                "Selected_For_Review": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4a58394b-ff24-4486-83bf-b60c42912c27"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "gap_applications",
                      "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                      "item/gap_currentstage": "Objective Scoring Quality Review"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Generate_Threshold": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Objective_Outcome": {
                    "actions": {
                      "Not_Selected_For_Review_(Objective_Pass)": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "337b169e-4d56-4771-9660-800c3d18833f"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "gap_applications",
                            "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                            "item/gap_currentstage": "Subjective Scoring Decision",
                            "item/gap_finalobjectiveoutcome": 803260000
                          },
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateOnlyRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Not_Selected_For_Review_(Objective_Fail)": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "337b169e-4d56-4771-9660-800c3d18833f"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "gap_applications",
                              "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                              "item/gap_currentstage": "Subjective Scoring Decision",
                              "item/gap_finalobjectiveoutcome": 803260001
                            },
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "UpdateOnlyRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@triggerOutputs()?['body/gap_initialobjectiveoutcome']",
                            803260000
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "efd754a8-78f2-4593-822b-bd6b08b96597"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "less": [
                      "@rand(0,100)",
                      "@outputs('Generate_Threshold')"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "92fd6237-890a-4392-a207-0e693e35d3ff"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_Error_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "92429c9c-3511-40bb-9ce0-42e5fc94790c"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Update_Application_Stage": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c01f1ba5-098e-4639-b581-0e8ae54f71db"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                  "item/gap_currentstage": "Error (Objective Scoring Quality Review Selection)"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Error_Message_Exists": {
              "actions": {
                "Add_Custom_Error_Message": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9f3ed32c-8acf-4e57-9344-8cf0b960ab62"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "An error occurred.",
                      "item/notetext": "@variables('Error Message')",
                      "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Update_Application_Stage": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_Standard_Error_Message": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "eb850475-3f79-494d-a545-8d098c355490"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "An error occurred.",
                        "item/notetext": "Flow Name: @{workflow()['name']}\nRun ID: @{workflow()['run']['name']}\nDate & Time: @{utcNow()}\nLink: @{concat('https://make.powerautomate.com/environments/', workflow()['tags']['environmentName'], '/solutions/', split(workflow()['tags']['environmentWorkflowId'], '-')[1], '/flows/', workflow()['tags']['xrmWorkflowId'])\r\n}",
                        "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                      },
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('Error Message'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "5ef504f9-fee0-4ac1-85e8-1364da98d47e"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Try": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "40f63f7a-e8a7-4787-9a8f-19a696613aa3"
          },
          "type": "Scope"
        },
        "Initialize_Error_Message": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "36faedca-19bb-434b-915f-779bc02fa73c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error Message",
                "type": "string"
              }
            ]
          }
        },
        "Update_a_row": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dc9b4300-d9de-4ab2-96c3-f28a37d1c254"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "gap_applications",
              "recordId": "@triggerOutputs()?['body/gap_applicationid']",
              "item/gap_initializedstage": "Objective Scoring Quality Review Selection"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}