solution/GrantsAdministrationPlatform/Workflows/SamApplicationMonitoring-96AC0330-11A5-F011-BBD3-7CED8D38C68C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Stage_Updated": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_currentstage",
              "subscriptionRequest/filterexpression": "gap_currentstage eq 'Monitoring' and gap_initializedstage ne 'Monitoring'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "metadata": {
            "operationMetadataId": "ae7e2d8d-7b96-49bf-bde7-2b037b2759c3"
          }
        }
      },
      "actions": {
        "Update_a_row": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "gap_applications",
              "recordId": "@triggerOutputs()?['body/gap_applicationid']",
              "item/gap_initializedstage": "Monitoring"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "eff118f8-8eeb-4135-b8e5-e9428a6a4caf"
          }
        },
        "Try": {
          "type": "Scope",
          "actions": {
            "Get_Monitoring_Structure": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_monitoringstructures",
                  "recordId": "@triggerOutputs()?['body/_gap_monitoringstructure_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "metadata": {
                "operationMetadataId": "fcda57d3-16cc-458c-a36b-2cfae7264950"
              }
            },
            "List_Monitoring_Activities": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_monitoringactivities",
                  "$filter": "_gap_monitoringstructure_value eq @{outputs('Get_Monitoring_Structure')?['body/gap_monitoringstructureid']}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Get_Monitoring_Structure": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9ad7e4a3-0c9d-4bf1-864c-f97bd7243c72"
              }
            },
            "Apply_to_each": {
              "type": "Foreach",
              "foreach": "@outputs('List_Monitoring_Activities')?['body/value']",
              "actions": {
                "Update_Current_Stage": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "gap_monitoringactivities",
                      "recordId": "@items('Apply_to_each')?['gap_monitoringactivityid']",
                      "item/gap_currentstage": "Initial Review"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "9625e920-f626-42cd-8695-eb114f6eb636"
                  }
                }
              },
              "runAfter": {
                "List_Monitoring_Activities": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dc676606-a1ac-4834-9f5c-57735bf2caba"
              }
            }
          },
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "80139d25-3955-4dc6-809d-81836c18053b"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}