solution/GrantsAdministrationPlatform/Workflows/SAMApplicationObjectiveScoringQualityReview-1D32D7F5-BC89-F011-B4CB-7C1E522DB721.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_14207"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Stage_Updated": {
          "metadata": {
            "operationMetadataId": "b7aa860c-6288-4e52-b94c-f99a4b5f22d6"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_application",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_currentstage",
              "subscriptionRequest/filterexpression": "gap_currentstage eq 'Objective Scoring Quality Review' and gap_initializedstage ne 'Objective Scoring Quality Review'",
              "subscriptionRequest/name": "1d32d7f5-bc89-f011-b4cb-7c1e522db721:MTA"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_Review_Array": {
          "runAfter": {
            "Initialize_Error_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25886939-3448-45f2-92cf-d79ac986eeb8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Review Array",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_Error_Message": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d5d7145b-cdcc-46a8-b555-a8a0e414b262"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error Message",
                "type": "string"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Condition_|_Quality_Reviewer_Selection_Required": {
              "actions": {
                "Dataverse_|_List_Users": {
                  "runAfter": {
                    "Dataverse_|_Get_Scheme": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "acdfef6d-6397-439c-a4d1-7f75b9e90284"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "teammemberships",
                      "$filter": "teamid eq @{outputs('Dataverse_|_Get_Scheme')?['body/_gap_qualitycontrollers_value']}"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_|_Minimum_Quantity": {
                  "actions": {
                    "Loop_|_Per_Reviewer": {
                      "foreach": "@outputs('Dataverse_|_List_Users')?['body/value']",
                      "actions": {
                        "Variable_|_Update_Array": {
                          "runAfter": {
                            "Dataverse_|_Get_User": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "4083e922-2a02-4e22-9828-8aac7130822e"
                          },
                          "type": "AppendToArrayVariable",
                          "inputs": {
                            "name": "Review Array",
                            "value": {
                              "Reviewer": "@{items('Loop_|_Per_Reviewer')?['systemuserid']}",
                              "Name": "@{outputs('Dataverse_|_Get_User')?['body/fullname']}",
                              "Number of Reviews": "@add(length(outputs('Dataverse_|_List_Applications')?['body/value']), length(outputs('Dataverse_|_List_Peer_Reviews')?['body/value']))"
                            }
                          }
                        },
                        "Dataverse_|_List_Applications": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "a861be80-4957-4a60-b3c3-7ee3518a04fe"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "gap_applications",
                              "$filter": "_gap_scheme_value eq @{triggerBody()?['_gap_scheme_value']} and _ownerid_value eq @{items('Loop_|_Per_Reviewer')?['systemuserid']}"
                            },
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Dataverse_|_Get_User": {
                          "runAfter": {
                            "Dataverse_|_List_Peer_Reviews": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "57e31f12-0111-41d3-a9a5-d29f52e0d0a2"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "systemusers",
                              "recordId": "@items('Loop_|_Per_Reviewer')?['systemuserid']"
                            },
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Dataverse_|_List_Peer_Reviews": {
                          "runAfter": {
                            "Dataverse_|_List_Applications": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a861be80-4957-4a60-b3c3-7ee3518a04fe"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "gap_reviews",
                              "$filter": "_gap_scheme_value eq @{triggerBody()?['_gap_scheme_value']} and _ownerid_value eq @{items('Loop_|_Per_Reviewer')?['systemuserid']}"
                            },
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "c33de96c-3527-4ae0-8d64-a3f4ae2c40b7"
                      },
                      "type": "Foreach"
                    },
                    "Data_|_Sort_Users": {
                      "runAfter": {
                        "Loop_|_Per_Reviewer": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8233d1e9-eea8-487d-ac68-6a97e878bdf8"
                      },
                      "type": "Compose",
                      "inputs": "@sort(variables('Review Array'), 'Number of Reviews')"
                    },
                    "Data_|_Get_User": {
                      "runAfter": {
                        "Data_|_Sort_Users": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ebc2e0fa-dc9e-4e6f-831f-7a14f30ddc74"
                      },
                      "type": "Compose",
                      "inputs": "@first(outputs('Data_|_Sort_Users'))?['Reviewer']"
                    },
                    "Dataverse_|_Update_Application": {
                      "runAfter": {
                        "Data_|_Get_User": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c7bae68a-e625-49c6-a8af-2aac7377d945"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "gap_applications",
                          "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                          "item/gap_FinalReviewer@odata.bind": "systemusers(@{outputs('Data_|_Get_User')})"
                        },
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Dataverse_|_List_Users": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Update_Error_Message": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "9e78b743-9286-42a4-bfe8-75d5b7864c1b"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Error Message",
                          "value": "There were an insufficient number of quality controllers in the team."
                        }
                      },
                      "Trigger_Error": {
                        "runAfter": {
                          "Update_Error_Message": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "8745fd87-0223-4987-91f5-46bcb148f8ad"
                        },
                        "type": "Compose",
                        "inputs": "@div(1, 0)"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greaterOrEquals": [
                          "@length(outputs('Dataverse_|_List_Users')?['body/value'])",
                          1
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "eea57faa-4ec7-438c-bd59-7657d61f6ed4"
                  },
                  "type": "If"
                },
                "Dataverse_|_Get_Scheme": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5975dae3-b6a9-494e-a34d-b3f8bb04cf05"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "gap_schemes",
                      "recordId": "@triggerOutputs()?['body/_gap_scheme_value']"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/_gap_finalreviewer_value']",
                      null
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "65f3f6c4-c211-42f5-8b59-44797eacf42e"
              },
              "type": "If"
            },
            "Get_Latest_Application": {
              "runAfter": {
                "Condition_|_Quality_Reviewer_Selection_Required": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e1bef7fa-d532-439f-a514-473585e4cbce"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/gap_applicationid']"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_Application_Owner": {
              "runAfter": {
                "Get_Latest_Application": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "67450687-ebba-458b-9e17-bca8057fcfe3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                  "item/ownerid@odata.bind": "systemusers(@{outputs('Get_Latest_Application')?['body/_gap_finalreviewer_value']})"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Objective_Checklist_Exists": {
              "actions": {
                "Update_Checklist_Owner": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f4f6059a-bfca-44c4-bd8c-275705893253"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "gap_scoringchecklists",
                      "recordId": "@outputs('Get_Latest_Application')?['body/_gap_objectivescoringchecklist_value']",
                      "item/ownerid@odata.bind": "systemusers(@{outputs('Update_Application_Owner')?['body/_gap_finalreviewer_value']})"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Update_Application_Owner": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Get_Latest_Application')?['body/_gap_objectivescoringchecklist_value']",
                        null
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "d3608bbb-f5e6-4821-ad00-ce4d94804ed5"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_Review_Array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4f584d6f-635d-4e1c-9bd1-165457f925b3"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Update_Application_Stage": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c01f1ba5-098e-4639-b581-0e8ae54f71db"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_applications",
                  "recordId": "@triggerOutputs()?['body/gap_applicationid']",
                  "item/gap_currentstage": "Error (Objective Scoring Quality Review)"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Error_Message_Exists": {
              "actions": {
                "Add_Custom_Error_Message": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "82b79ce7-9456-4916-80ed-c4695f3478bd"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "An error occurred.",
                      "item/notetext": "@variables('Error Message')",
                      "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Update_Application_Stage": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_Standard_Error_Message": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "ff973f42-383c-4947-8234-b99b7546816c"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "An error occurred.",
                        "item/notetext": "Flow Name: @{workflow()['name']}\nRun ID: @{workflow()['run']['name']}\nDate & Time: @{utcNow()}\nLink: @{concat('https://make.powerautomate.com/environments/', workflow()['tags']['environmentName'], '/solutions/', split(workflow()['tags']['environmentWorkflowId'], '-')[1], '/flows/', workflow()['tags']['xrmWorkflowId'])\r\n}",
                        "item/objectid_gap_application@odata.bind": "gap_applications(@{triggerOutputs()?['body/gap_applicationid']})"
                      },
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('Error Message'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "47033a01-855a-43ce-9e00-2c2c97c61f4a"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Try": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "9542e797-c1f0-44e3-9558-a00dcf3cfcf5"
          },
          "type": "Scope"
        },
        "Update_a_row": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "00926a78-2c8b-416a-9062-3289649f4ae2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "gap_applications",
              "recordId": "@triggerOutputs()?['body/gap_applicationid']",
              "item/gap_initializedstage": "Objective Scoring Quality Review"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}