solution/GrantsAdministrationPlatform/Workflows/SAMMonitoringPeerReviewSelection-D8FF3CC4-9BA2-F011-BBD3-7CED8D38E853.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-2": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "gap_Dataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Stage_Updated": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "gap_monitoringactivity",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "gap_currentstage",
              "subscriptionRequest/filterexpression": "gap_currentstage eq 'Peer Review Selection' and gap_initializedstage ne 'Peer Review Selection'",
              "subscriptionRequest/name": "d8ff3cc4-9ba2-f011-bbd3-7ced8d38e853:MTA"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "metadata": {
            "operationMetadataId": "ce63f9f3-ea08-4aef-a185-b3763cf18feb"
          }
        }
      },
      "actions": {
        "Try": {
          "type": "Scope",
          "actions": {
            "Get_Monitoring_Activity_Template": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_monitoringactivitytemplates",
                  "recordId": "@triggerOutputs()?['body/_gap_monitoringactivitytemplate_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps-2"
                }
              },
              "metadata": {
                "operationMetadataId": "47bde5ea-c448-4d92-87c0-d45a305ab05a"
              }
            },
            "Generate_Threshold": {
              "type": "Compose",
              "inputs": "@coalesce(outputs('Get_Monitoring_Activity_Template')?['body/gap_peerreviewriskthreshold'], 100)",
              "runAfter": {
                "Get_Monitoring_Activity_Template": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1817c7d0-2a0a-48a3-96a1-f99c0a816157"
              }
            },
            "Checklist_Needs_Reassigning": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@triggerOutputs()?['body/_gap_monitoringchecklist_value']",
                        "@null"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Get_Checklist_Owner": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "gap_monitoringchecklists",
                      "recordId": "@triggerOutputs()?['body/_gap_monitoringchecklist_value']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "connectionName": "shared_commondataserviceforapps-2"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "f9775169-3f77-44cf-aab4-cf5aa2b50a0a"
                  }
                },
                "Checklist_Owner_Requires_Update": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Get_Checklist_Owner')?['body/_ownerid_value']",
                            "@outputs('Get_Checklist_Owner')?['body/_createdby_value']"
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Update_Checklist_Owner": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "gap_monitoringchecklists",
                          "recordId": "@triggerOutputs()?['body/_gap_monitoringchecklist_value']",
                          "item/ownerid@odata.bind": "systemusers(@{outputs('Get_Checklist_Owner')?['body/_createdby_value']})"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord",
                          "connectionName": "shared_commondataserviceforapps-2"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "b01006f8-b26f-4f46-827a-caf3fbf559e4"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Get_Checklist_Owner": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6630db09-07c0-4d19-89de-92e3871b96ed"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Generate_Threshold": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e1645e3e-a648-4919-bcf8-7637cfe9c462"
              }
            },
            "Meets_Threshold": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "less": [
                      "@rand(0,100)",
                      "@outputs('Generate_Threshold')"
                    ]
                  }
                ]
              },
              "actions": {
                "Selected_For_Review": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "gap_monitoringactivities",
                      "recordId": "@triggerOutputs()?['body/gap_monitoringactivityid']",
                      "item/gap_currentstage": "Peer Review"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps-2"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "be01f1ff-f495-4d99-b9db-b7f73452a337"
                  }
                }
              },
              "else": {
                "actions": {
                  "Not_Selected_For_Review": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "gap_monitoringactivities",
                        "recordId": "@triggerOutputs()?['body/gap_monitoringactivityid']",
                        "item/gap_currentstage": "Quality Review Selection"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "connectionName": "shared_commondataserviceforapps-2"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "be01f1ff-f495-4d99-b9db-b7f73452a337"
                    }
                  }
                }
              },
              "runAfter": {
                "Checklist_Needs_Reassigning": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "378001aa-5be3-48be-a19c-77d38b6337da"
              }
            }
          },
          "runAfter": {
            "Initialize_Error_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f6861500-db11-4837-8370-5e04cedaed12"
          }
        },
        "Catch": {
          "type": "Scope",
          "actions": {
            "Update_Application_Stage": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "gap_monitoringactivities",
                  "recordId": "@triggerOutputs()?['body/gap_monitoringactivityid']",
                  "item/gap_currentstage": "Error (Subjective Scoring Peer Review Selection)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps-2"
                }
              },
              "metadata": {
                "operationMetadataId": "c01f1ba5-098e-4639-b581-0e8ae54f71db"
              }
            },
            "Error_Message_Exists": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('Error Message'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Add_Custom_Error_Message": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "An error occurred.",
                      "item/notetext": "@variables('Error Message')",
                      "item/objectid_gap_monitoringactivity@odata.bind": "gap_monitoringactivities(@{triggerOutputs()?['body/gap_monitoringactivityid']})"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps-2"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "9e83cd9b-64df-4a75-95b0-e9bfa1abcd93"
                  }
                }
              },
              "else": {
                "actions": {
                  "Add_Standard_Error_Message": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "An error occurred.",
                        "item/notetext": "Flow Name: @{workflow()['name']}\nRun ID: @{workflow()['run']['name']}\nDate & Time: @{utcNow()}\nLink: @{concat('https://make.powerautomate.com/environments/', workflow()['tags']['environmentName'], '/solutions/', split(workflow()['tags']['environmentWorkflowId'], '-')[1], '/flows/', workflow()['tags']['xrmWorkflowId'])\r\n}",
                        "item/objectid_gap_monitoringactivity@odata.bind": "gap_monitoringactivities(@{triggerOutputs()?['body/gap_monitoringactivityid']})"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps-2"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "25598d03-58aa-41c4-84e7-02fd18cb9e26"
                    }
                  }
                }
              },
              "runAfter": {
                "Update_Application_Stage": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "965bfc9f-89f9-45d1-be28-e2a1065435b8"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "48c4c2fc-54c7-4410-a3c9-03964284891a"
          }
        },
        "Initialize_Error_Message": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error Message",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "75b9d689-280c-459d-a471-9eede1d8826b"
          }
        },
        "Update_a_row": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "gap_monitoringactivities",
              "recordId": "@triggerOutputs()?['body/gap_monitoringactivityid']",
              "item/gap_initializedstage": "Peer Review Selection"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "740cb3a7-f486-4ee0-b437-b66453fff181"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}