solution/GrantsAdministrationPlatform/Workflows/UtilityRemoveTeamMember-D251DA56-97DC-EE11-904D-6045BDF1EA43.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4c45440c-9c8f-4f76-829d-c84dbfc3aa68"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Team Members",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please provide a list of team members.",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "description": "Please provide a team member.",
                  "title": "Team Member",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Data_|_Parse_Team_Members": {
          "runAfter": {
            "Variable_|_Initialize_TeamMembersArray": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "94ba4a21-c096-436c-ba69-29bf8e285f4e"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@string(triggerBody()?['text'])",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "user"
                ]
              }
            }
          }
        },
        "Variable_|_Initialize_TeamMembersArray": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "95a543c6-a774-494e-a90e-8a656a8126dd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TeamMembersArray",
                "type": "array"
              }
            ]
          }
        },
        "Respond_to_PowerApps_(V2)": {
          "runAfter": {
            "Data_|_Filter_Team_Members": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "49df3a3f-d390-44e5-96d6-daf9de3c10cf"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "users": "@string(body('Data_|_Filter_Team_Members'))"
            },
            "schema": {
              "type": "object",
              "properties": {
                "users": {
                  "title": "Users",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Data_|_Filter_Team_Members": {
          "runAfter": {
            "Data_|_Parse_Team_Members": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fab270a2-1961-46ff-a643-a52167b3cef9"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Data_|_Parse_Team_Members')",
            "where": "@not(equals(item()['user'],triggerBody()?['text_1']))"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}